<article class="post-tile" (click)="view()" tabindex="0" (keydown.enter)="view()">
  <header class="post-tile-header">
    <img [src]="getImage(post?.creator?.image?.url)" [alt]="post.creator.username" class="post-avatar">
    <div class="post-author"><b>{{ post.creator.name || post.creator.username }}</b><span>{{ '@' + post.creator.username }}</span></div>
    <button *ngIf="post.creator.id === this.user?.id" class="post-menu-trigger" aria-label="Opciones de publicación" (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu"><i class="bi bi-three-dots"></i></button>
    <mat-menu #menu="matMenu"><button mat-menu-item (click)="delete()"><i class="bi bi-trash mr-2"></i>Eliminar</button></mat-menu>
  </header>
  <div class="post-cover">
    <img [src]="getImage(post?.image?.url)" [alt]="post.description || 'Foto de la comunidad'">
    <span class="post-cover-icon"><i class="bi bi-arrows-angle-expand"></i></span>
  </div>
  <div class="post-tile-caption"><p>{{ post.description }}</p><span *ngIf="post.event" class="post-event-link"><i class="bi bi-calendar-heart"></i>{{ post.event.name }}</span></div>
  <footer class="post-tile-footer"><span><i class="bi bi-chat-dots"></i>{{ post.comments.length }} comentarios</span><button>Ver publicación <i class="bi bi-arrow-up-right"></i></button></footer>
</article>
