<app-container>
  <div class="w-full h-[calc(100vh_-_170px)]">
        <div class="w-full flex justify-end items-center">
          <span *ngIf="selectedView === 'map'" class="mr-4">* En la vista de mapa solo seran visibles los eventos presenciales.</span>
          <mat-button-toggle-group [(ngModel)]="selectedView">
            <mat-button-toggle (click)="updateMap()" value="map"><i class="bi bi-map mr-2"></i> Mapa</mat-button-toggle>
            <mat-button-toggle value="list"><i class="bi bi-grid mr-2"></i>Lista</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

    <div *ngIf="selectedView === 'list'" class="grid grid-cols-4 gap-4 mt-4">
      <mat-card  *ngFor="let event of events" class="mb-4" appearance="outlined">

        <div class="w-full h-24 overflow-hidden">
          <img src="{{ 'http://localhost:8080'+event.image.url }}" class="object-cover object-center h-32 w-full">
        </div>
        <mat-card-header class="m-0 flex justify-center items-center text-center">
          <mat-card-title>{{ event.name }}</mat-card-title>
          <mat-card-subtitle>
            <div *ngIf="event.type === 'online'">
              <i class="bi bi-globe"></i> Online

            </div>

            <div *ngIf="event.type === 'notOnline'">
              <i class="bi bi-geo"></i> Presencial
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="mt-4 ">
          <div class="flex flex-col justify-center items-center space-y-2 text-center">
              <span >
            {{ event.description }}
              </span>

            <div class="flex flex-wrap justify-center align-center space-x-2 ">
              <mat-chip-row>
                <div class="flex justify-center items-center">
                  <i class="bi bi-calendar mr-2"></i>{{ transformDate(event.initDate) }}
                </div>

              </mat-chip-row>
              <mat-chip-row>
                <div class="flex justify-center items-center">
                  <i class="bi bi-calendar mr-2"></i> {{ transformDate(event.endDate) }}
                </div>
              </mat-chip-row>
            </div>


            <div class="space-x-2 flex flex-wrap justify-center align-center ">
              <mat-chip-row *ngFor="let theme of event.themes;">
                {{ theme.name }}
              </mat-chip-row>
            </div>

            <div class="flex justify-center items-center">
              <span >
                <i class="bi bi-geo-alt"></i> {{ event.ubication }}
              </span>
            </div>

          </div>

        </mat-card-content>
        <mat-card-actions class="flex justify-between items-end">
          <div class="flex justify-center items-center space-x-2">
            <i class="bi bi-person "></i>
            <span>{{ event.participants.length }} participantes</span>
          </div>
          <button (click)="show(event)" mat-raised-button color="primary" >
            <div class="flex justify-center items-center space-x-2">
              <i class="bi bi-eye "></i>
              <span class="h-full">
                 Ver
              </span>
            </div>

          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="w-full h-full mt-4" *ngIf="selectedView === 'map'">
      <div id="map"  class="w-full h-full"></div>
    </div>



    <button (click)="createEvent()"
            class="fixed bottom-6 right-6 bg-blue-600 text-white w-14 h-14 rounded-full text-3xl flex items-center justify-center shadow-lg hover:bg-blue-700 z-9999 cursor-pointer"
    >
      +
    </button>
  </div>

</app-container>

