<app-container>
  <div class="w-full h-[calc(100vh_-_170px)]">

    <div *ngIf="view === 'general'" class="grid gap-4 mt-4"
         style="grid-template-columns: repeat(auto-fill, minmax(250px, max-content));">
      <app-card-posts  *ngFor="let post of posts" [post]="post" [user]="user" (actions)="postActions($event)"></app-card-posts>
    </div>

    <div *ngIf="view === 'my'" class="grid gap-4 mt-4"
         style="grid-template-columns: repeat(auto-fill, minmax(250px, max-content));">
      <app-card-posts  *ngFor="let post of myPosts" [post]="post" [user]="user" (actions)="postActions($event)"></app-card-posts>
    </div>

    <button (click)="createPost()"
            class="fixed bottom-6 right-6 bg-blue-600 text-white w-14 h-14 rounded-full text-3xl flex items-center justify-center shadow-lg hover:bg-blue-700 z-9999 cursor-pointer"
    >
      +
    </button>
  </div>




</app-container>
