<mat-card class="mb-4 relative" appearance="outlined">
  <div *ngIf="event?.creator?.id === this.user?.id && view === 'complete' && realOnly === false" class="absolute right-2 top-2">
    <button class="cursor-pointer" [matMenuTriggerFor]="menu"><i class="bi bi-three-dots-vertical"></i></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="edit()"><i class="bi bi-pencil mr-2"></i>Update</button>
      <button mat-menu-item (click)="delete()"><i class="bi bi-trash mr-2"></i>Delete</button>
    </mat-menu>
  </div>

  <div class="w-full h-24 overflow-hidden ">
    <img *ngIf="event?.image?.url" src="{{ getImage(event.image.url) }}"
         class="object-cover object-center h-32 w-full rounded-t-md">
  </div>
  <div class="h-[calc(100%_-_140px)]">
    <mat-card-header class="m-0 flex justify-center items-center text-center">
      <mat-card-title class="line-clamp-1">{{ event.name }}</mat-card-title>
      <mat-card-subtitle>
        <div  *ngIf="event.type === 'online'" class="w-full flex justify-center">
          <div class="flex items-center gap-2 leading-none">
            <i class="bi bi-globe text-lg"></i>
              Online
          </div>
        </div>

        <div  *ngIf="event.type === 'notOnline'" class="w-full flex justify-center">
          <div class="flex items-center gap-2 leading-none">
            <i class="bi bi-geo text-lg"></i>
            Presential
            <span *ngIf="view === 'small'">
              · <i class="bi bi-geo-alt"></i> {{ event.ubication }}
              </span>
          </div>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class=" ">
      <div class="flex flex-col justify-center items-center space-y-2 text-center">
        <div *ngIf="view === 'complete'">
           <p   [class.line-clamp-4]="!showDescriptionFull">
            {{ event.description }}
              </p>

          <button
            class="text-pink-600 underline cursor-pointer"
            (click)="viewMore()"
          >
            {{ showDescriptionFull ? 'See less' : 'See more' }}
          </button>
        </div>


        <div class="flex flex-wrap justify-center align-center space-x-2 space-y-1">
          <mat-chip-row>
            <div class="flex justify-center items-center">
              <i class="bi bi-calendar mr-2"></i>{{ transformDate(event.initDate) }}
            </div>

          </mat-chip-row>
          <mat-chip-row>
            <div class="flex justify-center items-center">
              <i class="bi bi-calendar mr-2"></i> {{ transformDate(event.endDate) }}
            </div>
          </mat-chip-row>
        </div>


        <div *ngIf="view === 'complete'" class="space-x-2 flex flex-wrap justify-center align-center space-y-1">
          <mat-chip-row *ngFor="let theme of event.themes;">
            {{ theme.name }}
          </mat-chip-row>
        </div>

        <div *ngIf="view === 'complete'" class="w-full">
          <div *ngIf="event.ubication" class="flex justify-center items-center">
              <span>
                <i class="bi bi-geo-alt"></i> {{ event.ubication }}
              </span>
          </div>
        </div>


      </div>

    </mat-card-content>
  </div>

  <mat-card-actions *ngIf="view === 'complete' && realOnly === false" class="flex flex-wrap justify-between items-end">
    <div class="flex justify-center items-center space-x-2">
      <i class="bi bi-person "></i>
      <span>{{ event.participants.length }} participants</span>
    </div>



    <div class="space-x-2 flex flex-wrap">
      <button *ngIf="this.user" (click)="join()" mat-raised-button color="primary">
        <div class="flex justify-center items-center space-x-2">
          <i class="bi bi-box-arrow-right "></i>
          <span class="h-full">
                 Join
              </span>
        </div>

      </button>


      <button (click)="show()" mat-raised-button color="primary">
        <div class="flex justify-center items-center space-x-2">
          <i class="bi bi-eye "></i>
          <span class="h-full">
                 Show
              </span>
        </div>

      </button>
    </div>

  </mat-card-actions>
</mat-card>
