<app-container>

  <div class="w-full h-full">


    <div class="w-full h-32 relative">
      <div class="w-full h-32 overflow-hidden">
        <img src="" class="object-cover object-center h-32 w-full">
      </div>

      <div class="absolute w-full h-24 -bottom-10 left-0 right-0 flex justify-center">
        <div class="flex items-center space-x-2 rounded-lg w-fit">
          <img class="w-24 h-24 rounded-full object-cover object-center" src="{{'http://localhost:8080'+user.profileImageName}}">
        </div>
      </div>
    </div>

    <div class="mt-10 space-y-4 text-center">
      <div>
        <h1>{{ user.name }}</h1>
        <span class="  rounded-full ">{{ '@' + 'vanerb' }}</span>
      </div>
      <p>{{ user.description }}</p>

      <mat-divider></mat-divider>

      <mat-tab-group>
        <mat-tab label="Publicaciones">
          <app-posts></app-posts>
        </mat-tab>
        <mat-tab label="Eventos">
          <app-events></app-events>
        </mat-tab>
      </mat-tab-group>
    </div>


  </div>

</app-container>
