<app-container>

  <div class="w-full h-full">


    <div class="w-full h-32 relative">
      <div class="w-full h-32 overflow-hidden">
        <img src="" class="object-cover object-center h-32 w-full">
      </div>

      <div class="absolute w-full h-16 -bottom-7 left-0 right-0 flex justify-center">
        <div class="flex items-center space-x-2 rounded-lg w-fit">
          <img class="w-16 h-16 rounded-full object-cover object-center" src="">
        </div>
      </div>
    </div>

    <div class="mt-10 space-y-4 text-center">
      <div>
        <h1>Vanesa</h1>
        <span class="  rounded-full ">{{ '@' + 'vanerb' }}</span>
      </div>
      <p>DescricionDescricionDescricionDescricionDescricionDescricionDescricionDescricionDescricionDescricion</p>

      <mat-divider></mat-divider>

      <mat-tab-group>
        <mat-tab label="Publicaciones">


          <div class="grid grid-cols-4 sm:grid-cols-1 md:grid-cols-6 lg:grid-cols-8 xl:grid-cols-10 gap-4 mt-4">
            <div class="w-32 h-32 overflow-hidden rounded-lg">
              <img src="" class="object-cover object-center h-32 w-full rounded-lg">
            </div>
          </div>


        </mat-tab>
        <mat-tab label="Eventos">



        </mat-tab>
      </mat-tab-group>
    </div>


  </div>

</app-container>
