<div class="w-full h-full">
  <div class="flex justify-between  w-full h-full space-x-4">
    <div class="w-[50%] h-full rounded-lg overflow-hidden">
      <div class="w-full h-full flex justify-center items-center overflow-hidden">
        <img
          class="max-w-full max-h-full object-contain"
          [src]="'http://localhost:8080' + post.image.url"
          alt="Imagen"
        >
      </div>
    </div>

    <div class="flex flex-col w-[50%] ">
      <div class="h-full overflow-auto space-y-4 text-center px-4">
        <div class="w-full h-32 relative">
          <div class="w-full h-32 overflow-hidden">
            <img src="" class="object-cover object-center h-32 w-full">
          </div>
          <div class="absolute w-full h-24 -bottom-10 left-0 right-0 flex justify-center">
            <div class="flex items-center space-x-2 rounded-lg w-fit">
              <img class="w-24 h-24 rounded-full object-cover object-center"
                   src="{{'http://localhost:8080'+post.creator.image.url}}">
            </div>
          </div>
        </div>

        <div class="w-full mt-12">
          <span>{{ post.description }}</span>
        </div>

        <div class="w-full">

          <div class="space-x-2 flex flex-wrap justify-center align-center space-y-1">
            <mat-chip-row *ngFor="let hashtag of post.hashtags;">
              {{ '#' + hashtag.name }}
            </mat-chip-row>
          </div>
        </div>

        <div class="space-y-2 w-full">

          <mat-tab-group>
            <mat-tab label="Descripción">
              <div>
                <app-card-events [view]="'complete'" [realOnly]="true" [user]="post.creator"
                                 [event]="post.event"></app-card-events>
              </div>
            </mat-tab>
            <mat-tab label="Participantes">

              <div>
                <div class=" space-y-4 ">
                  <mat-list>
                    <div *ngFor="let participant of post.event.participants">
                      <mat-list-item>
                        <div class=" flex items-center space-x-2  rounded-lg w-fit">
                          <img class="w-10 h-10 rounded-full object-cover object-center "
                               src="http://localhost:8080{{participant.image.url}}">
                          <span class="  rounded-full ">{{ '@' + participant.username }}</span>
                        </div>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                    </div>

                  </mat-list>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="space-y-2">
          <span>{{ post.url }}</span>
        </div>
      </div>
      <div class="flex justify-end align-end space-x-2 mt-4">
        <button (click)="close()" mat-stroked-button color="primary">Cerrar</button>
      </div>
    </div>


  </div>


</div>




